body
{
    background: url(../images/Background-website-01.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.fa 
{
    padding: 10px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.fa-youtube
{
    color: red;
}